{% extends 'base.html' %}

{% block content %}
    <div class="password-reset">
        <div class="reset-body">
            <h1> Password reset </h1>

            <p>Forgot your password? Enter your email address below</p>

            <form action="" method="POST" class="form-fields">
                {% csrf_token %}
                <div class="password-input">
                    <label class="password-label" for="id_email">Email address: </label>
                    {{ form.email }}
                </div>
                <div class="button-field">
                    <button type="submit">Reset my password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
